* {
    font-family: 'Courier New';
}

.main_title {
    color:fuchsia;
    border: 5px black double;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 100px;
    font-family:Cambria;
 }

